@model IEnumerable<EmployeeVotingSystem.Models.VoteRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.voterid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candidateid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.votingyear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.votingmonth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.voterid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.candidateid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.votingyear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.votingmonth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.recordid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.recordid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.recordid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
