@model IEnumerable<EmployeeVotingSystem.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employeename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roleid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departmentid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departmentid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.employeeid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.employeeid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.employeeid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
