@model EmployeeVotingSystem.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jobtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jobtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.minsalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.minsalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maxsalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maxsalary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.jobid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
