@model IEnumerable<EmployeeVotingSystem.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Job Id
            </th>
            <th>
                Job Title
            </th>
            <th>
               Min Salary
            </th>
            <th>
                Max Salary
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jobid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobtitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minsalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxsalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.jobid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.jobid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.jobid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
